<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:fragment="headerfiles">
  <title>Secured Area for Student</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div th:fragment="header">
<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="/" th:href="@{/}">Main&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a href="/professor" th:href="@{/student}">Student Home&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
           <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">


<form action="#" th:action="@{/logout}" method="post">
<input type="submit" value="logout" />
</form>
<br>
<!--  User's name: <span sec:authentication="name"></span><br>
Roles : <span sec:authentication="principal.authorities"></span>-->
</div>
    </li>
  </ul>

</nav>
<div class="jumbotron text-center" style="background-image: url(/img/sheridan.jpg); background-size: auto;">
  <h1>Sheridan Student Grades Portal</h1>
  <p>View Your Student Grades Area</p> 
</div>
  
  </div>
<h1>Your Grades</h1>
<table class="table table-bordered">
<tr><th>Name</th><td th:text="${student.name}"></td></tr>
<tr><th>Student id</th><td th:text="${student.studentId}"></td></tr>
<tr><th>Exercises</th><td th:text="${student.exercises} + '%' "></td></tr>
<tr><th>Assignment 1</th><td th:text="${student.assignment1} + '%' "></td></tr>
<tr><th>Assignment 2</th><td th:text="${student.assignment2} + '%' "></td></tr>
<tr><th>Mid term</th><td th:text="${student.midterm} + '%' "></td></tr>
<tr><th>Final Exam</th><td th:text="${student.finalExam} + '%' "></td></tr>
<tr><th>Final Project</th><td th:text="${student.finalProject} + '%' "></td></tr>
<tr><th>Weighted Average</th><td th:text="${student.calculateWeightedAvg()} + '%' "></td></tr>
<tr><th>Letter Grade</th><td th:text="${student.calculateLetterGrade()}"></td></tr>
</table>

<p><a href="/" th:href="@{/}">Go back to main page</a>
</body>
</html>