<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<th:block
	th:include="templates/templates.html :: headerfiles (title='Secured Area for Professor')">
</th:block>
</head>

<body>
	<header th:insert="templates/templates.html :: navHeader"></header>

	<div th:replace="templates/templates.html :: headerJumbotron (title='Edit Student Grade')"></div>

	<div class="container custom-shadow custom-form">
	
		<div><h1>Student Assessments for <span class="greet-custom" th:text="${student.name}"></span></h1></div>
		
		<div class="error-custom" th:each="error:${errorMessage}" th:text="${error}"></div>
		
		<form class="form-horizontal" action="#"
			th:action="@{/saveEditStudent}" method="post" th:object="${student}">
			<input type="hidden" th:field="*{id}" />

			<div class="form-group">
				<label class="control-label col-sm-2" for="studentName">Student
					Name:</label>
				<div class="col-sm-10">
					<input type="text" id="studentName" name="studentName"
						autofocus="autofocus" class="form-control" th:field="*{name}"
						value="">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="studentId">Student
					ID:</label>
				<div class="col-sm-10">
					<input type="text" id="studentId" name="studentId"
						class="form-control" th:field="*{studentId}">
				</div>
			</div>

			<div class="form-group">

				<label class="control-label col-sm-2" for="exercises">Exercises
					(0-100):</label>
				<div class="col-sm-10">
					<input type="number" min="0" max="100" step="0.01" id="exercises"
						name="exercises" class="form-control" th:field="*{exercises}">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="assignment1">Assignment
					1 (0-100):</label>
				<div class="col-sm-10">
					<input type="number" min="0" max="100" step="0.01" id="assignment1"
						name="assignment1" class="form-control" th:field="*{assignment1}">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="assignment2">Assignment
					2 (0-100):</label>
				<div class="col-sm-10">
					<input type="number" min="0" max="100" step="0.01" id="assignment2"
						name="assignment2" class="form-control" th:field="*{assignment2}">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="midterm">Midterm
					(0-100):</label>
				<div class="col-sm-10">
					<input type="number" min="0" max="100" step="0.01" id="midterm"
						name="midterm" class="form-control" th:field="*{midterm}">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="finalExam">Final
					Exam (0-100):</label>
				<div class="col-sm-10">
					<input type="number" min="0" max="100" step="0.01" id="finalExam"
						name="finalExam" class="form-control" th:field="*{finalExam}">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="finalProject">Final
					Project (0-100):</label>
				<div class="col-sm-10">
					<input type="number" min="0" max="100" step="0.01"
						id="finalProject" name="finalProject" class="form-control"
						th:field="*{finalProject}">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type=submit value="Update" class="btn btn-primary btn-lg">
				</div>
			</div>

		</form>
	</div>
	<p>
		<a href="/" th:href="@{/professor}">Go Back to Professor Main Page</a>
</body>
</html>

