@charset "ISO-8859-1";

body {
	font-family: Arial, Helvetica, sans-serif;
}

.custom-form{
	width:50vm;
	padding: 10px;
}

.greet-custom{
	font-weight:bold;
}
.error-custom{
	color: red; text-align:center;
}
.custom-personalize{
	margin:15px;
}

.avg-custom{
	font-weight:bold;
	color:black;
}

.alert {
	color: red;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.logout input[type=submit] {
	margin: 0 15px;
	padding: 5px;
}

/* input[type=submit]:hover{ */
/* 	opacity:0.8; */
/* } */
#page-wrap {
	max-width: 300px;
	margin: auto;
}

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
}

.box {
	width: 200px;
	height: 150px;
	margin: 20px;
	background: royalblue;
	border-radius: 25px;
	padding: 25px;
	color: white;
	text-align: center;
	text-indent: .1em;
	text-decoration: none;
}

.box:link {
	text-decoration: none;
	color: white;
}

.box:hover {
	font-weight: bold;
	color: white;
}

.form-control {
	box-shadow: none;
	border-color: #ddd;
}

.form-control:focus {
	border-color: #4aba70;
}

.login-form {
	width: 350px;
	margin: 0 auto;
	padding: 30px 0;
}

.login-form form {
	color: #434343;
	border-radius: 1px;
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #f3f3f3;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.login-form .form-control, .login-form .btn {
	min-height: 40px;
	border-radius: 2px;
	transition: all 0.5s;
}

.login-form .btn, .login-form .btn:active {
	background: #4aba70 !important;
	border: none;
	line-height: normal;
}

.login-form .btn:hover, .login-form .btn:focus {
	background: #42ae68 !important;
}

.custom-shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.th-bold {
	font-weight: bold;
}